anthropic-0.23.1
distro-1.9.0
httpcore-1.0.5
httpx-0.27.0
chromadb==0.4.24
dill==0.3.8
huggingface-hub==0.22.2
python-dotenv
langchain==0.1.14
langchain-community==0.0.31
langchain-text-splitters==0.0.1
